[package]
name = "udpqueue"
version = "0.2.11"
edition = "2024"

[dependencies]
jni = "0.21"

[lib]
crate-type = ["cdylib"]

[profile.release]
opt-level = 3
lto = true
strip = "debuginfo"
panic = "abort"
