name: publish-natives

on:
  push:
    branches: [ "master" ]
    paths:
      - '.github/workflows/publish.yml' # when new targets are added
      - 'build.gradle.kts' # when the root build script changes
      - 'api' # when api source is changed
      - 'native' # when natives are changed

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-18-04
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-18-04
            target: i686-unknown-linux-gnu
            deps: sudo apt install gcc-multilib
          - os: windows-2019
            target: x86_64-pc-windows-msvc
          - os: windows-2019
            target: i686-pc-windows-msvc
          - os: macos-11
            target: x86_64-apple-darwin
    name: Build and publish
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af #@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: ${{ matrix.target }}

      - name: Install linker dependencies
        run: ${{ matrix.deps }}
        if: ${{ matrix.deps != '' }}

      - name: Compile natives
        working-directory: native
        run: cargo build -r --target=${{ matrix.target }}

      - name: Publish
        env:
          ORG_GRADLE_PROJECT_ossrhUser: ${{ secrets.OSSRH_USER }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_PASSWORD }}
          ORG_GRADLE_PROJECT_stagingProfile: ${{ secrets.STAGING_PROFILE_ID }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.GPG_KEYID }}
        run: |
          chmod u+x gradlew
          ./gradlew --console plain --stacktrace -Ptarget="${{ matrix.target }}" native:publishToSonatype closeAndReleaseStagingRepository