name: publish-natives-macos

on:
  workflow_dispatch:

concurrency:
  group: "pub-mac"
  cancel-in-progress: true

jobs:
  build:
    name: Build macOS universal binary
    environment: MavenRelease
    runs-on: macos-12
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Compile natives
        working-directory: native
        run: |
          rustup target add x86_64-apple-darwin
          cargo build -r --target=x86_64-apple-darwin
          rustup target add aarch64-apple-darwin
          cargo build -r --target=aarch64-apple-darwin

      - name: Create target directory for darwin
        run: mkdir -p native/target/darwin/release

      - name: Combine to universal dylib
        run: lipo -create -output native/target/darwin/release/libudpqueue.dylib native/target/**/release/*.dylib

      - name: Publish
        env:
          ORG_GRADLE_PROJECT_ossrhUser: ${{ secrets.OSSRH_USER }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_PASSWORD }}
          ORG_GRADLE_PROJECT_stagingProfile: ${{ secrets.STAGING_PROFILE_ID }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.GPG_KEYID }}
        run: |
          chmod u+x gradlew
          ./gradlew --console plain --stacktrace -Ptarget=darwin native:publishToSonatype closeAndReleaseStagingRepository
